html,
	body {
	  height: 100%;
	  width: 100%;
	}

#header {
    background-color: lightblue;
}
#menu {
    float: left;
    width: 150px;
    height: 100%;
    font-size: 20px;
    background-color: orange;
}
#content {
    background-color: white;
    margin-left: 160px;
}
#footer {
    background-color: grey;
}